  .div {
      background-color: #fff;
      display: flex;
      padding-bottom: 50px;
      flex-direction: column;
      align-items: center;
  }

  .div-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      align-self: stretch;
      position: relative;
      display: flex;
      min-height: 998px;
      width: 100%;
      padding: 30px 60px 0;
  }

  @media (max-width: 991px) {
      .div-2 {
          max-width: 100%;
          padding: 0 20px;
      }
  }

  .img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }

  .div-3 {
      position: relative;
      z-index: 10;
      display: flex;
      margin-bottom: -77px;
      width: 1120px;
      max-width: 100%;
      flex-direction: column;
  }

  @media (max-width: 991px) {
      .div-3 {
          margin-bottom: 10px;
      }
  }

  .div-4 {
      border-radius: 40px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      font-size: 13px;
      color: #1e1e1e;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1px;
      line-height: 308%;
      padding: 25px 30px;
  }

  @media (max-width: 991px) {
      .div-4 {
          max-width: 100%;
          flex-wrap: wrap;
          padding: 0 20px;
      }
  }

  .img-2 {
      aspect-ratio: 5.26;
      object-fit: auto;
      object-position: center;
      width: 160px;
      max-width: 100%;
  }

  .div-5 {
      color: #ff589e;
      font-family: Raleway, sans-serif;
      margin: auto 0;
  }

  .div-6 {
      font-family: Raleway, sans-serif;
      align-self: start;
      margin-top: 13px;
  }

  .div-7 {
      font-family: Raleway, sans-serif;
      margin: auto 0;
  }

  .div-8 {
      font-family: Raleway, sans-serif;
      margin: auto 0;
  }

  .div-9 {
      font-family: Raleway, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
      margin: auto 0;
  }

  .div-10 {
      font-family: Raleway, sans-serif;
      align-self: start;
      margin-top: 13px;
  }

  .div-11 {
      font-family: Raleway, sans-serif;
      align-self: start;
      margin-top: 13px;
      flex-grow: 1;
  }

  .div-12 {
      color: #fff;
      text-align: center;
      letter-spacing: 0.25px;
      align-self: center;
      margin-top: 168px;
      white-space: nowrap;
      font: 500 28px/120% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-12 {
          margin-top: 40px;
          white-space: initial;
      }
  }

  .div-13 {
      color: #fff;
      text-align: center;
      letter-spacing: 0.25px;
      align-self: center;
      margin-top: 45px;
      font: 400 15px/26px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-13 {
          max-width: 100%;
          margin-top: 40px;
      }
  }

  .div-14 {
      display: flex;
      margin-top: 77px;
      padding-right: 10px;
      justify-content: space-between;
      gap: 20px;
      font-weight: 400;
      text-align: center;
  }

  @media (max-width: 991px) {
      .div-14 {
          max-width: 100%;
          flex-wrap: wrap;
          margin-top: 40px;
      }
  }

  .div-15 {
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      align-items: start;
      padding: 0 10px 10px 0;
  }

  .div-16 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 10;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      padding: 24px 33px;
  }

  @media (max-width: 991px) {
      .div-16 {
          padding: 0 20px;
      }
  }

  .img-3 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
      align-self: center;
  }

  .div-17 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 26px;
      white-space: nowrap;
      font: 17px/150% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-17 {
          white-space: initial;
      }
  }

  .div-18 {
      color: #777;
      letter-spacing: 0.75px;
      margin-top: 16px;
      font: 14px/21px Raleway, sans-serif;
  }

  .div-19 {
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      align-items: start;
      padding: 0 10px 10px 0;
  }

  .div-20 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 10;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      padding: 24px 33px;
  }

  @media (max-width: 991px) {
      .div-20 {
          padding: 0 20px;
      }
  }

  .img-4 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
      align-self: center;
  }

  .div-21 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 26px;
      white-space: nowrap;
      font: 17px/150% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-21 {
          white-space: initial;
      }
  }

  .div-22 {
      color: #777;
      letter-spacing: 0.75px;
      margin-top: 13px;
      font: 14px/21px Raleway, sans-serif;
  }

  .div-23 {
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      align-items: start;
      padding: 0 10px 10px 0;
  }

  .div-24 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 10;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      align-items: center;
      padding: 24px 33px;
  }

  @media (max-width: 991px) {
      .div-24 {
          padding: 0 20px;
      }
  }

  .img-5 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
  }

  .div-25 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 26px;
      font: 17px/150% Raleway, sans-serif;
  }

  .div-26 {
      color: #777;
      letter-spacing: 0.75px;
      align-self: stretch;
      margin-top: 16px;
      font: 14px/21px Raleway, sans-serif;
  }

  .div-27 {
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      align-items: start;
      padding: 0 10px 10px 0;
  }

  .div-28 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 10;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      align-items: center;
      padding: 24px 33px;
  }

  @media (max-width: 991px) {
      .div-28 {
          padding: 0 20px;
      }
  }

  .img-6 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
  }

  .div-29 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 26px;
      font: 17px/150% Raleway, sans-serif;
  }

  .div-30 {
      color: #777;
      letter-spacing: 0.75px;
      align-self: stretch;
      margin-top: 16px;
      font: 14px/21px Raleway, sans-serif;
  }

  .div-31 {
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      align-items: start;
      padding: 0 10px 10px 0;
  }

  .div-32 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 10;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      align-items: center;
      padding: 24px 33px;
  }

  @media (max-width: 991px) {
      .div-32 {
          padding: 0 20px;
      }
  }

  .img-7 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
  }

  .div-33 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 26px;
      font: 17px/150% Raleway, sans-serif;
  }

  .div-34 {
      color: #777;
      letter-spacing: 0.75px;
      align-self: stretch;
      margin-top: 13px;
      font: 14px/21px Raleway, sans-serif;
  }

  .div-35 {
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      align-items: start;
      padding: 0 10px 10px 0;
  }

  .div-36 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 10;
      display: flex;
      margin-top: -10px;
      flex-direction: column;
      align-items: center;
      padding: 24px 33px;
  }

  @media (max-width: 991px) {
      .div-36 {
          padding: 0 20px;
      }
  }

  .img-8 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
  }

  .div-37 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 26px;
      font: 17px/150% Raleway, sans-serif;
  }

  .div-38 {
      color: #777;
      letter-spacing: 0.75px;
      align-self: stretch;
      margin-top: 16px;
      font: 14px/21px Raleway, sans-serif;
  }

  .div-39 {
      margin-top: 164px;
  }

  @media (max-width: 991px) {
      .div-39 {
          max-width: 100%;
          margin-top: 40px;
      }
  }

  .div-40 {
      gap: 20px;
      display: flex;
  }

  @media (max-width: 991px) {
      .div-40 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
      }
  }

  .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 0px;
  }

  @media (max-width: 991px) {
      .column {
          width: 100%;
      }
  }

  .div-41 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 33px 44px;
  }

  @media (max-width: 991px) {
      .div-41 {
          margin-top: 30px;
          padding: 0 20px;
      }
  }

  .img-9 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 90px;
  }

  .div-42 {
      color: #1e1e1e;
      letter-spacing: 0.7px;
      margin-top: 34px;
      white-space: nowrap;
      font: 500 18px/120% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-42 {
          white-space: initial;
      }
  }

  .div-43 {
      color: #777;
      letter-spacing: 0.5px;
      align-self: stretch;
      margin-top: 23px;
      font: 400 13px/25px Raleway, sans-serif;
  }

  .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
  }

  @media (max-width: 991px) {
      .column-2 {
          width: 100%;
      }
  }

  .div-44 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 33px 57px;
  }

  @media (max-width: 991px) {
      .div-44 {
          margin-top: 30px;
          padding: 0 20px;
      }
  }

  .img-10 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 90px;
  }

  .div-45 {
      color: #1e1e1e;
      letter-spacing: 0.7px;
      margin-top: 34px;
      white-space: nowrap;
      font: 500 18px/120% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-45 {
          white-space: initial;
      }
  }

  .div-46 {
      color: #777;
      letter-spacing: 0.5px;
      align-self: stretch;
      margin-top: 23px;
      font: 400 13px/25px Raleway, sans-serif;
  }

  .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
  }

  @media (max-width: 991px) {
      .column-3 {
          width: 100%;
      }
  }

  .div-47 {
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 33px 38px;
  }

  @media (max-width: 991px) {
      .div-47 {
          margin-top: 30px;
          padding: 0 20px;
      }
  }

  .img-11 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 90px;
  }

  .div-48 {
      color: #1e1e1e;
      letter-spacing: 0.7px;
      margin-top: 34px;
      white-space: nowrap;
      font: 500 18px/120% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-48 {
          white-space: initial;
      }
  }

  .div-49 {
      color: #777;
      letter-spacing: 0.5px;
      align-self: stretch;
      margin-top: 23px;
      font: 400 13px/25px Raleway, sans-serif;
  }

  .div-50 {
      display: flex;
      margin-top: 235px;
      width: 1110px;
      max-width: 100%;
      flex-direction: column;
      padding: 0 20px;
  }

  @media (max-width: 991px) {
      .div-50 {
          margin-top: 40px;
      }
  }

  .div-51 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      align-self: end;
      margin-right: 169px;
      white-space: nowrap;
      font: 500 24px/175% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-51 {
          margin-right: 10px;
          white-space: initial;
      }
  }

  .div-52 {
      color: #777;
      letter-spacing: 1px;
      align-self: end;
      margin-top: 45px;
      font: 400 16px/28px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-52 {
          max-width: 100%;
          margin: 40px 8px 0 0;
      }
  }

  .div-53 {
      border-bottom: 1px solid #eee;
      margin-top: 183px;
      height: 1px;
  }

  @media (max-width: 991px) {
      .div-53 {
          max-width: 100%;
          margin-top: 40px;
      }
  }

  .div-54 {
      color: #1e1e1e;
      letter-spacing: 0.25px;
      margin-top: 164px;
      font: 500 24px/175% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-54 {
          max-width: 100%;
          margin-top: 40px;
      }
  }

  .div-55 {
      color: #777;
      letter-spacing: 1px;
      margin-top: 45px;
      font: 400 16px/28px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-55 {
          max-width: 100%;
          margin-top: 40px;
      }
  }

  .div-56 {
      color: #1e1e1e;
      text-align: center;
      letter-spacing: 1.75px;
      align-self: center;
      margin-top: 889px;
      white-space: nowrap;
      font: 500 28px/136% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-56 {
          margin-top: 40px;
          white-space: initial;
      }
  }

  .div-57 {
      color: #777;
      text-align: center;
      letter-spacing: 1px;
      align-self: center;
      margin-top: 31px;
      font: 400 15px/28px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-57 {
          max-width: 100%;
      }
  }

  .div-58 {
      margin-top: 56px;
  }

  @media (max-width: 991px) {
      .div-58 {
          max-width: 100%;
          margin-top: 40px;
      }
  }

  .div-59 {
      gap: 20px;
      display: flex;
  }

  @media (max-width: 991px) {
      .div-59 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
      }
  }

  .div-60 {
      justify-content: center;
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-weight: 400;
      width: 100%;
      padding: 30px 0;
  }

  @media (max-width: 991px) {
      .div-60 {
          margin-top: 30px;
      }
  }

  .img-12 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
      align-self: center;
  }

  .div-61 {
      display: flex;
      margin-top: 36px;
      flex-direction: column;
      padding: 0 57px 0 25px;
  }

  @media (max-width: 991px) {
      .div-61 {
          padding: 0 20px;
      }
  }

  .div-62 {
      color: #777;
      letter-spacing: 0.6px;
      font: 15px/26px Raleway, sans-serif;
  }

  .div-63 {
      display: flex;
      margin-top: 33px;
      justify-content: space-between;
      gap: 20px;
      letter-spacing: 0.25px;
  }

  .img-13 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 60px;
  }

  .div-64 {
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      margin: auto 0;
  }

  .div-65 {
      color: #1e1e1e;
      font: 17px/120% Raleway, sans-serif;
  }

  .div-66 {
      color: #ff589e;
      margin-top: 15px;
      font: 15px/150% Raleway, sans-serif;
  }

  .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
  }

  @media (max-width: 991px) {
      .column-4 {
          width: 100%;
      }
  }

  .div-67 {
      justify-content: center;
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-weight: 400;
      width: 100%;
      padding: 30px 0;
  }

  @media (max-width: 991px) {
      .div-67 {
          margin-top: 30px;
      }
  }

  .img-14 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
      align-self: center;
  }

  .div-68 {
      display: flex;
      margin-top: 36px;
      flex-direction: column;
      padding: 0 25px;
  }

  @media (max-width: 991px) {
      .div-68 {
          padding: 0 20px;
      }
  }

  .div-69 {
      color: #777;
      letter-spacing: 0.6px;
      font: 15px/26px Raleway, sans-serif;
  }

  .div-70 {
      display: flex;
      margin-top: 33px;
      justify-content: space-between;
      gap: 20px;
      letter-spacing: 0.25px;
  }

  .img-15 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 60px;
  }

  .div-71 {
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      margin: auto 0;
  }

  .div-72 {
      color: #1e1e1e;
      font: 17px/120% Raleway, sans-serif;
  }

  .div-73 {
      color: #ff589e;
      margin-top: 15px;
      font: 15px/150% Raleway, sans-serif;
  }

  .column-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
  }

  @media (max-width: 991px) {
      .column-5 {
          width: 100%;
      }
  }

  .div-74 {
      justify-content: center;
      border-radius: 20px;
      box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-weight: 400;
      width: 100%;
      padding: 30px 0;
  }

  @media (max-width: 991px) {
      .div-74 {
          margin-top: 30px;
      }
  }

  .img-16 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 32px;
      align-self: center;
  }

  .div-75 {
      display: flex;
      margin-top: 36px;
      flex-direction: column;
      padding: 0 25px;
  }

  @media (max-width: 991px) {
      .div-75 {
          padding: 0 20px;
      }
  }

  .div-76 {
      color: #777;
      letter-spacing: 0.6px;
      font: 15px/26px Raleway, sans-serif;
  }

  .div-77 {
      display: flex;
      margin-top: 30px;
      justify-content: space-between;
      gap: 20px;
      letter-spacing: 0.25px;
  }

  .img-17 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 60px;
  }

  .div-78 {
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
      margin: auto 0;
  }

  .div-79 {
      color: #1e1e1e;
      font: 17px/120% Raleway, sans-serif;
  }

  .div-80 {
      color: #ff589e;
      margin-top: 15px;
      font: 15px/150% Raleway, sans-serif;
  }

  .div-81 {
      justify-content: center;
      align-items: center;
      background-color: #f2f2fe;
      align-self: stretch;
      display: flex;
      margin-top: 110px;
      width: 100%;
      text-align: center;
      padding: 50px 60px;
  }

  @media (max-width: 991px) {
      .div-81 {
          max-width: 100%;
          margin-top: 40px;
          padding: 0 20px;
      }
  }

  .div-82 {
      display: flex;
      width: 526px;
      max-width: 100%;
      flex-direction: column;
      margin: 58px 0 513px;
  }

  @media (max-width: 991px) {
      .div-82 {
          margin: 40px 0;
      }
  }

  .div-83 {
      color: #1e1e1e;
      letter-spacing: 1.75px;
      align-self: center;
      white-space: nowrap;
      font: 500 28px/136% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-83 {
          white-space: initial;
      }
  }

  .div-84 {
      color: #777;
      letter-spacing: 1px;
      margin-top: 31px;
      font: 400 15px/28px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-84 {
          max-width: 100%;
      }
  }

  .div-85 {
      disply: flex;
      flex-direction: column;
      overflow: hidden;
      align-self: stretch;
      position: relative;
      display: flex;
      min-height: 340px;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      letter-spacing: 0.25px;
      line-height: 150%;
      padding: 50px 60px;
  }

  @media (max-width: 991px) {
      .div-85 {
          max-width: 100%;
          padding: 0 20px;
      }
  }

  .div-86 {
      position: relative;
      display: flex;
      gap: 0px;
      margin: 84px 0 57px;
  }

  @media (max-width: 991px) {
      .div-86 {
          max-width: 100%;
          flex-wrap: wrap;
          margin: 40px 0;
      }
  }

  .div-87 {
      display: flex;
      flex-basis: 0%;
      flex-direction: column;
      white-space: nowrap;
  }

  @media (max-width: 991px) {
      .div-87 {
          white-space: initial;
      }
  }

  .div-88 {
      font: 600 36px Raleway, sans-serif;
  }

  .div-89 {
      margin-top: 30px;
      font: 500 17px Raleway, sans-serif;
  }

  .img-18 {
      aspect-ratio: 5.56;
      object-fit: auto;
      object-position: center;
      width: 178px;
      max-width: 100%;
      margin: auto 0;
  }

  .div-90 {
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      flex-direction: column;
  }

  .div-91 {
      align-self: end;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      font-size: 36px;
      font-weight: 600;
      white-space: nowrap;
  }

  @media (max-width: 991px) {
      .div-91 {
          white-space: initial;
      }
  }

  .div-92 {
      font-family: Raleway, sans-serif;
  }

  .img-19 {
      aspect-ratio: 5.56;
      object-fit: auto;
      object-position: center;
      width: 178px;
      align-self: start;
      margin-top: 6px;
      max-width: 100%;
  }

  .div-93 {
      margin-top: 18px;
      font: 500 17px Raleway, sans-serif;
  }

  .div-94 {
      align-self: start;
      display: flex;
      flex-basis: 0%;
      flex-direction: column;
      white-space: nowrap;
  }

  @media (max-width: 991px) {
      .div-94 {
          white-space: initial;
      }
  }

  .div-95 {
      align-self: center;
      font: 600 36px Raleway, sans-serif;
  }

  .div-96 {
      margin-top: 30px;
      font: 500 17px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-96 {
          white-space: initial;
      }
  }

  .img-20 {
      aspect-ratio: 5.56;
      object-fit: auto;
      object-position: center;
      width: 178px;
      max-width: 100%;
      margin: auto 0;
  }

  .div-97 {
      display: flex;
      flex-basis: 0%;
      flex-direction: column;
      white-space: nowrap;
      margin: auto 0;
  }

  @media (max-width: 991px) {
      .div-97 {
          white-space: initial;
      }
  }

  .div-98 {
      align-self: center;
      font: 600 36px Raleway, sans-serif;
  }

  .div-99 {
      margin-top: 26px;
      font: 500 17px Raleway, sans-serif;
  }

  .div-100 {
      color: #1e1e1e;
      text-align: center;
      letter-spacing: 1.75px;
      margin-top: 108px;
      white-space: nowrap;
      font: 500 28px/136% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-100 {
          margin-top: 40px;
          white-space: initial;
      }
  }

  .div-101 {
      color: #777;
      text-align: center;
      letter-spacing: 1px;
      margin-top: 31px;
      font: 400 15px/28px Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-101 {
          max-width: 100%;
      }
  }

  .div-102 {
      margin-top: 56px;
      width: 1110px;
      max-width: 100%;
      padding: 0 20px;
  }

  @media (max-width: 991px) {
      .div-102 {
          margin-top: 40px;
      }
  }

  .div-103 {
      gap: 20px;
      display: flex;
  }

  @media (max-width: 991px) {
      .div-103 {
          flex-direction: column;
          align-items: stretch;
          gap: 0px;
      }
  }

  .div-104 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.25px;
  }

  @media (max-width: 991px) {
      .div-104 {
          margin-top: 30px;
      }
  }

  .img-21 {
      aspect-ratio: 1.75;
      object-fit: auto;
      object-position: center;
      width: 100%;
  }

  .div-105 {
      color: #1e1e1e;
      align-self: center;
      margin-top: 33px;
      white-space: nowrap;
      font: 500 18px/144% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-105 {
          white-space: initial;
      }
  }

  .div-106 {
      color: #777;
      font-family: Raleway, sans-serif;
      line-height: 26px;
      letter-spacing: 0.26px;
      margin-top: 35px;
  }

  .div-107 {
      font-family: Raleway, sans-serif;
      justify-content: center;
      border-radius: 20px;
      background-color: #8261ee;
      align-self: center;
      margin-top: 31px;
      color: #fff;
      white-space: nowrap;
      text-transform: uppercase;
      line-height: 150%;
      padding: 18px 21px;
  }

  @media (max-width: 991px) {
      .div-107 {
          white-space: initial;
          padding-left: 20px;
      }
  }

  .column-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
  }

  @media (max-width: 991px) {
      .column-6 {
          width: 100%;
      }
  }

  .div-108 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.25px;
  }

  @media (max-width: 991px) {
      .div-108 {
          margin-top: 30px;
      }
  }

  .img-22 {
      aspect-ratio: 1.75;
      object-fit: auto;
      object-position: center;
      width: 100%;
  }

  .div-109 {
      color: #1e1e1e;
      align-self: center;
      margin-top: 33px;
      white-space: nowrap;
      font: 500 18px/144% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-109 {
          white-space: initial;
      }
  }

  .div-110 {
      color: #777;
      font-family: Raleway, sans-serif;
      line-height: 26px;
      letter-spacing: 0.26px;
      margin-top: 31px;
  }

  .div-111 {
      font-family: Raleway, sans-serif;
      justify-content: center;
      border-radius: 20px;
      background-color: #8261ee;
      align-self: center;
      margin-top: 31px;
      color: #fff;
      white-space: nowrap;
      text-transform: uppercase;
      line-height: 150%;
      padding: 18px 21px;
  }

  @media (max-width: 991px) {
      .div-111 {
          white-space: initial;
          padding-left: 20px;
      }
  }

  .column-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
  }

  @media (max-width: 991px) {
      .column-7 {
          width: 100%;
      }
  }

  .div-112 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.25px;
  }

  @media (max-width: 991px) {
      .div-112 {
          margin-top: 30px;
      }
  }

  .img-23 {
      aspect-ratio: 1.75;
      object-fit: auto;
      object-position: center;
      width: 100%;
      align-self: stretch;
  }

  .div-113 {
      color: #1e1e1e;
      margin-top: 33px;
      white-space: nowrap;
      font: 500 18px/144% Raleway, sans-serif;
  }

  @media (max-width: 991px) {
      .div-113 {
          white-space: initial;
      }
  }

  .div-114 {
      color: #777;
      font-family: Raleway, sans-serif;
      line-height: 26px;
      letter-spacing: 0.26px;
      margin-top: 31px;
  }

  .div-115 {
      font-family: Raleway, sans-serif;
      justify-content: center;
      border-radius: 20px;
      background-color: #8261ee;
      margin-top: 31px;
      color: #fff;
      white-space: nowrap;
      text-transform: uppercase;
      line-height: 150%;
      padding: 18px 21px;
  }

  @media (max-width: 991px) {
      .div-115 {
          white-space: initial;
          padding-left: 20px;
      }
  }