/* Characters Page Stylesheet */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    gap: 8px;
    padding: 20px;
}

.sidebar {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    backdrop-filter: blur(400px);
    background: rgba(88, 88, 88, 0.2);
}

.character-list {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
    text-align: center;
}

.character {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

.character-name {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    backdrop-filter: blur(400px);
    background: rgba(0, 0, 0, 0.2);
}

.player-info {
    background-color: #f0f0f0;
    padding: 10px;
    color: #333;
    margin: 10px;
}

header {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

a:visited {
    color: #fff;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top left;
    z-index: -1;
}

.div-2 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    min-height: 998px;
    width: 100%;
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

/* Media Query for responsive adjustments */
@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for smaller screens */
    }

    .sidebar {
        width: 100%;
        padding: 15px;
    }
}

.page-content {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    backdrop-filter: blur(10px);
    background: rgb(0 0 0 / 49%);
    border-radius: 65px;
}

.table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px;
}

.additional {
    padding: 50px;
}

.character-info, .Family {
    text-align: center;
}

th {
    border-right: 1px solid;
    padding-right: 10px;
    border-bottom: 1px solid;
}

td {
    border-bottom: 1px solid;
}
